<div class="authBlock pt-10">
  <h3>Sign In</h3>
  <div class="formGroup">
    <button type="button" class="raise" (click)="authService.GoogleAuth()">
      <img src="assets/img/google.svg" alt="google"/>
    </button>
    <button type="button" class="raise" (click)="authService.GitHubAuth()">
      <img src="assets/img/github.svg" alt="github"/>
    </button>
    <button type="button" class="raise" (click)="authService.FacebookAuth()">
      <img src="assets/img/facebook.svg" alt="facebook"/>
    </button>
  </div>
</div>

